<?xml version="1.0" encoding="UTF-8"?>
<config>
	<type>page</type>
	<version>1.0.0</version>
	<default_set>index</default_set>
	<sets>
		<set id="index">	<!-- 하나의 모듈 셋에서 로딩 하는 순서임 !! -->
			<!-- <element type="src">index</element> -->
			<element type="template">index</element>
		</set>
	</sets>
</config>