<style>
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px
};

</style>
<h1>Grid Test</h1>
<div class="gridStyle" ng-grid="gridOptions" ng-controller="module_dynamic_ctrl">
</div>

<div>
	<h1>Chart Test</h1>
	<div class="demo-container" ng-controller="module_chart_ctrl"  style="width:100%;height:300px;">
		<div id="placeholder" class="demo-placeholder" style="width:100%;height:100%;"></div>
	</div>	
</div>

<div>
	<h1>Chart Test2</h1>
	<div class="demo-container2" ng-controller="module_chart_ctrl2"  style="width:100%;height:300px;">
		<div id="placeholder2" class="demo-placeholder2" style="width:100%;height:100%;"></div>
	</div>
	
</div>